---
import doctorImage from "@images/hero/doctor_3-min.png";
import backgroundImage from "@images/hero/hero_bg_2-min.png";
import { Image } from "astro:assets";

import Button from "@/components/button/Button.astro";
import { getLocaleFromUrl } from "@/js/localeUtils";
import { getLocalizedRoute, getTranslatedData, useTranslations } from "@/js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const t = useTranslations(currLocale);
---

<section
	class:list={[
		"relative isolate flex w-full items-center overflow-hidden",
		"mx-auto rounded-b-2xl shadow-md md:rounded-b-3xl",
	]}
	aria-label="Hero section"
>
	<Image
		src={backgroundImage}
		alt="Blue healthcare background"
		class="pointer-events-none absolute inset-0 z-0 h-full w-full object-cover"
		aria-hidden="true"
	/>

	<div
		class="site-container relative flex h-full min-h-full grow flex-col items-center justify-between gap-8 md:flex-row"
	>
		<div id="hero-swoosh-trigger" class="max-w-2xl flex-1 pt-30 md:py-36">
			<h1
				data-aos-trigger="#hero-swoosh-trigger"
				data-aos="fade-right"
				class="text-primary leading-tighter font-heading mb-4 text-4xl font-extrabold tracking-wide md:text-5xl xl:text-7xl"
			>
				Our Mission Is Your
				<span class="text-accent-400">Health</span>
			</h1>
			<p
				data-aos-trigger="#hero-swoosh-trigger"
				data-aos="fade-right"
				data-aos-delay=".2"
				class="text-muted-foreground mb-8 max-w-md text-lg text-pretty md:text-xl"
			>
				Since 2001 our goal has been to bring holistic patient-centered care to our community.
			</p>
			<Button
				type="button"
				href={getLocalizedRoute(currLocale, `#contact`)}
				variant="primary"
				class="md:text-lg"
				aria-label="Book An Appointment"
				data-aos-trigger="#hero-swoosh-trigger"
				data-aos="fade-right"
				data-aos-delay=".4"
			>
				Book An Appointment
			</Button>
		</div>
		<div class="xs:h-[320px] mt-auto flex h-[260px] justify-end md:h-[500px] md:pt-20 lg:h-[560px]">
			<Image
				src={doctorImage}
				alt="Smiling healthcare professional with stethoscope"
				class="m-0 h-full w-auto object-contain p-0 align-bottom"
				width={700}
				densities={[1.5, 2]}
				loading="eager"
			/>
		</div>
	</div>
</section>
