---
/**
 * * These are small cards with icons, titles, and text. With title first
 * This looks best with an even number of cards. They are smaller to
 * use with more cards in the same section. 4 or 6 cards is probably ideal
 *
 * ! I copy all icons into the src/icons folder and recommend you do the same
 * ! If the icon is at src/icons/tabler/paint.svg then you put in "tabler/paint"
 */

import { Icon } from "astro-icon/components";

import Badge from "@/components/badge/Badge.astro";
import FeatureCard from "@/components/feature-card/FeatureCardSmall.astro";

interface FeatureData {
  icon: string;
  title: string;
  text: string;
}

const featureData: FeatureData[] = [
  {
    icon: "tabler/chart-line",
    title: "Experiential Learning",
    text: `Students make real decisions in dynamic, game-like markets that turn abstract theory into intuitive understanding.`,
  },
  {
    icon: "tabler/robot",
    title: "AI-Driven Insights",
    text: `AI analyzes decisions and outcomes, helping students recognize patterns, optimize strategies, and understand deeper economic relationships.`,
  },
  {
    icon: "tabler/clock-hour-8",
    title: "Real-Time Feedback",
    text: `Decisions instantly alter the storyline, affecting outcomes which reveal relationships that help students build economic intuition through rapid experimentation.`,
  },
  {
    icon: "tabler/telescope",
    title: "Instructor Insights",
    text: ` Dashboards show class performance at a glance, empowering instructors to spark richer discussions and guide learning more effectively.`,
  },
  {
    icon: "tabler/bell-school",
    title: "Classroom Ready",
    text: `Easily integrate simulations into your course with our classroom materials—syllabus, assignments, and learning objectives.`,
  },
  {
    icon: "tabler/rocket",
    title: "Speedy Web-Based Platform",
    text: `Built for speed, no downloads or installations—just open a browser and start learning.`,
  },
];
---

<section id="feature-cards-small" class="py-16 md:py-20">
  <div class="site-container relative">
    <div class="mx-auto mb-16 text-center md:max-w-2xl" data-mos="fade-up">
      <Badge>Powerful Features</Badge>
      <h2 class="h2 mt-4 mb-4">Make Teaching Economics Come Alive</h2>
      <p class="description text-lg text-pretty md:text-xl">
        Turn every economics lesson into an engaging, interactive, and truly immersive learning experience.
      </p>
    </div>
    <div
      id="trigger-small-cards"
      class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8"
      data-mos="fade-up"
    >
      {
        featureData.map((feature, idx) => (
          <FeatureCard title={feature.title} text={feature.text} icon={feature.icon} />
        ))
      }
    </div>
  </div>
</section>