---
import { Icon } from "astro-icon/components";

import type { TestimonialItem } from "@/config/types/configDataTypes";
import { getLocaleFromUrl } from "@/js/localeUtils";
import { getLocalizedRoute, getTranslatedData, useTranslations } from "@/js/translationUtils";

type Props = TestimonialItem;
const { avatar, name, title, testimonial } = Astro.props as Props;

const currLocale = getLocaleFromUrl(Astro.url);
const t = useTranslations(currLocale);
---

<figure
	class="bg-base border-primary-500 hover:border-primary group hover:bg-primary flex max-w-md flex-col gap-4 rounded-xl border-2 p-6 shadow-md transition-colors"
	aria-label="Testimonial"
>
	<!-- 5 star icons -->
	<div class="text-primary group-hover:text-primary-foreground flex gap-1 transition-colors">
		<Icon name="tabler/star-filled" />
		<Icon name="tabler/star-filled" />
		<Icon name="tabler/star-filled" />
		<Icon name="tabler/star-filled" />
		<Icon name="tabler/star-filled" />
	</div>

	<blockquote
		class="group-hover:text-primary-foreground mt-3 max-w-xs italic transition-colors md:max-w-md"
	>
		<span>"{testimonial}"</span>
	</blockquote>
	<figcaption class="mt-2">
		<div
			class="text-primary font-heading group-hover:text-primary-foreground text-lg font-extrabold transition-colors"
		>
			{name}
		</div>
		<div class="group-hover:text-primary-foreground font-medium transition-colors">{title}</div>
	</figcaption>
</figure>
